name: Trigger auto deployment for boombetbackend

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/boombetbackend-AutoDeployTrigger-e7de42f9-fa62-4250-bb14-3e2fe63d03e0.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BOOMBETBACKEND_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BOOMBETBACKEND_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BOOMBETBACKEND_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: boombetbackend.azurecr.io
          registryUsername: ${{ secrets.BOOMBETBACKEND_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BOOMBETBACKEND_REGISTRY_PASSWORD }}
          containerAppName: boombetbackend
          resourceGroup: boombet-n8nplaywright-preliminar
          imageToBuild: boombetbackend.azurecr.io/boombetbackend:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


